@tailwind base;
@tailwind components;
@tailwind utilities;

/* small app-specific utilities */
:root {
  --bg: #f8fafc;
  --card: #ffffff;
  --text: #0f172a;
}
.dark {
  --bg: #0b1220;
  --card: #071129;
  --text: #e6eef8;
}

body {
  background-color: var(--bg);
  color: var(--text);
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
